<nav>
    <div class="nav-wrapper">
        <a ui-sref="home" class="brand-logo"><strong>EASY</strong> TRADIES</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li><a ui-sref="findStaff">FIND STAFF</a></li>
            <li><a ui-sref="seekJobs">SEEK JOBS</a></li>
            <li data-ng-if="isAuthenticated"><a data-ng-click="Main.goToProfile()">My Profile</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li data-ng-if="!isAuthenticated"><a ui-sref="signIn" >Sign-in</a></li>
            <li data-ng-if="!isAuthenticated"><a ui-sref="signUp">Sign-up</a></li>
            <li data-ng-if="isAuthenticated">
                <a ui-sref="home" data-ng-click="Main.signOut()">
                    <i class="fa fa-power-off" aria-hidden="true"></i> Sign Out
                </a>
            </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a ui-sref="findStaff">FIND STAFF</a></li>
            <li><a ui-sref="seekJobs">SEEK JOBS</a></li>
            <li><a ui-sref="signIn">Sign-in</a></li>
            <li><a ui-sref="signUp">Sign-up</a></li>
        </ul>
    </div>
</nav>