<header class="std page">
    <div class="container">
        <et-nav></et-nav>
        <div class="slider-form">
            <h2>About <strong> Us</strong></h2>
        </div>
    </div>
    <div class="header-bottom-pattern">
        <svg xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid" viewBox="0 0 1870 104.656">
            <path d="M0.018,33.143 C0.018,33.143 0.126,33.124 0.180,33.115 C93.363,16.751 231.338,-0.679 393.913,0.013 C697.872,1.305 705.871,49.136 1081.820,81.455 C1457.769,113.773 1749.729,31.038 1849.715,38.794 C1870.722,40.424 1886.873,44.222 1899.283,49.205 C1899.546,49.310 1900.067,49.523 1900.067,49.523 L1900.000,103.456 C1900.000,103.456 392.728,104.404 0.125,104.651 C0.073,104.651 -0.031,104.651 -0.031,104.651 L0.018,33.143 Z"
                  class="layer-1"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid" viewBox="0 0 1870 110.156">
            <path d="M1900.000,45.156 C1900.000,45.156 1719.733,-2.485 1539.758,0.100 C1359.782,2.686 1231.799,46.638 1009.830,81.543 C787.860,116.446 571.169,85.740 421.910,51.809 C283.631,20.375 119.949,10.588 1.058,16.208 C0.923,16.214 0.741,16.223 0.562,16.232 C0.391,16.240 0.221,16.248 0.094,16.254 C-0.035,16.260 -0.120,16.264 -0.120,16.264 L-0.000,110.156 L1900.000,110.156 L1900.000,45.156 Z"
                  class="layer-2"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid" viewBox="0 0 1870 142">
            <path d="M0.069,23.725 C0.069,23.725 0.654,23.641 0.947,23.600 C100.728,9.420 231.714,-4.219 340.921,1.212 C548.892,11.553 783.300,89.546 1031.827,98.167 C1292.791,107.218 1417.774,99.459 1601.749,45.164 C1723.257,9.305 1819.469,3.050 1899.025,8.151 C1899.351,8.171 1900.003,8.214 1900.003,8.214 L1899.000,142.000 L-0.000,142.000 L0.069,23.725 Z"
                  class="layer-2"/>
        </svg>
    </div>
</header>
<section class="about-us">
    <div class="find-staff-block">
        <div class="row">
            <div class="container">
                <div class="col s8 offset-s2">
                    <h3 class="section-title light">Be For We Were A Labour Hire Company <br>We Use To Use Labour Hire
                        Companies
                        <br>
                        <small> We’ve been on a mission to improve how it’s done ever since</small>
                    </h3>
                </div>
            </div>
        </div>

        <div class="row left-align">
            <div class="container">
                <div class="col l6 offset-l3">
                    <h4>
                        We’ve Played On Both Sides Of The Field.
                    </h4>
                    <p>
                        Easy Tradies was born from a unique combination of different skills. Our founders have either
                        owned traditional labour hire businesses or owned businesses that used their services
                        extensively. Regardless of where we came from we had something in common. We knew it could be
                        done better.
                    </p>
                </div>

                <div class="col l6 offset-l3">
                    <p>
                        &nbsp;
                    </p>
                    <h4>
                        Know You’re Getting Quality Staff Members Before Your Hire.
                    </h4>
                    <p>

                        Our platform allows you to review staff member’s performance, the more you review the better quality candidates you get for future jobs you post.
                        <br><br>
                        Our Tradies also know better reviews, means more work.  That gives them an extra incentive to impress during every job.
                        <br><br>
                        During the hiring process, you can see how other employers have reviewed employees – helping you make better hiring decisions.

                    </p>
                </div>

            </div>
        </div>

        <div class="row left-align">
            <div class="container">

                <div class="col l6 offset-l3">
                    <p>
                        &nbsp;
                    </p>
                    <h4>
                        The Opportunity To Shape The Trades Is In Our Hands
                    </h4>
                    <p>

                        At East Tradies, we’re going to change the way organisations employ their workers, it's an exciting time for this industry, and we’re going to be right at the centre of it.

                    </p>
                </div>

            </div>
        </div>

        <div class="row left-align">
            <div class="container">
                <div class="col l6 offset-l3">
                    <p>
                        &nbsp;
                    </p>
                    <h4>
                        Lightening Fast, Reliable Hiring For A Better Price
                    </h4>
                    <p>

                        Because we rely on our website to match skills with jobs the whole process happens a lot faster – meaning you can use your time running your business instead of finding staff.

                        All the details of your job are passed through our software instead of an account manager, so there’s also less room for human error.

                        Because we’ve cut out so many layers of admin – we can provide you staff at a better rate.

                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        &nbsp;
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>


