<header class="std page">
    <div class="container">
        <et-nav></et-nav>
        <div class="slider-form">
            <h2>FAQ</h2>
        </div>
    </div>
    <div class="header-bottom-pattern">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             preserveAspectRatio="xMidYMid" viewBox="0 0 1870 104.656">
            <path d="M0.018,33.143 C0.018,33.143 0.126,33.124 0.180,33.115 C93.363,16.751 231.338,-0.679 393.913,0.013 C697.872,1.305 705.871,49.136 1081.820,81.455 C1457.769,113.773 1749.729,31.038 1849.715,38.794 C1870.722,40.424 1886.873,44.222 1899.283,49.205 C1899.546,49.310 1900.067,49.523 1900.067,49.523 L1900.000,103.456 C1900.000,103.456 392.728,104.404 0.125,104.651 C0.073,104.651 -0.031,104.651 -0.031,104.651 L0.018,33.143 Z"
                  class="layer-1"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             preserveAspectRatio="xMidYMid" viewBox="0 0 1870 110.156">
            <path d="M1900.000,45.156 C1900.000,45.156 1719.733,-2.485 1539.758,0.100 C1359.782,2.686 1231.799,46.638 1009.830,81.543 C787.860,116.446 571.169,85.740 421.910,51.809 C283.631,20.375 119.949,10.588 1.058,16.208 C0.923,16.214 0.741,16.223 0.562,16.232 C0.391,16.240 0.221,16.248 0.094,16.254 C-0.035,16.260 -0.120,16.264 -0.120,16.264 L-0.000,110.156 L1900.000,110.156 L1900.000,45.156 Z"
                  class="layer-2"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             preserveAspectRatio="xMidYMid" viewBox="0 0 1870 142">
            <path d="M0.069,23.725 C0.069,23.725 0.654,23.641 0.947,23.600 C100.728,9.420 231.714,-4.219 340.921,1.212 C548.892,11.553 783.300,89.546 1031.827,98.167 C1292.791,107.218 1417.774,99.459 1601.749,45.164 C1723.257,9.305 1819.469,3.050 1899.025,8.151 C1899.351,8.171 1900.003,8.214 1900.003,8.214 L1899.000,142.000 L-0.000,142.000 L0.069,23.725 Z"
                  class="layer-2"/>
        </svg>
    </div>
</header>

<section id="faq">
    <div class="conatiner">
        <div class="row">
            <div class="col l6 offset-l3">
                <ul class="collapsible" data-collapsible="accordion" data-ng-collapsible>
                    <li>
                        <div class="collapsible-header">What Trades Are Available On Easy Tradies?</div>
                        <div class="collapsible-body"><span>The best way to find out if we supply temps for the profession you’re looking for is to type the name of the profession in the “profession” field on our find staff page.</span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">What is Easy Tradies?</div>
                        <div class="collapsible-body"><span>Easy Tradies is a service that allows you to post vacancies you have for temporary staff.   Once your job is posted and if their skill set matches what you’re looking for, temps can apply to work for you.  Once hired temps can submit time sheets through the Easy Tradie website.  You can likewise view and post reviews on employees, which help your future hire decisions. </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">How Do I Pay Temps I’ve Hired?</div>
                        <div class="collapsible-body"><span>Once your temp starts working for you, they’ll begin to submit timesheets through the Easy Tradies website for your approval.  Once you approve the hours, they will be billed to your credit card automatically.</span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            Is It Free To Register?
                        </div>
                        <div class="collapsible-body">
                           <span>
Registering, posting jobs and hiring staff are all free to do.  Easy Tradies will only charge you for hours on a temp’s timesheet that you have approved.
                           </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            How Does Easy Tradies Work?
                        </div>
                        <div class="collapsible-body">
                            The first step to using Easy Tradies is signing up for an account after your account has
                            been approved you can post jobs to the Easy Tradies website.
                            <br><br>
                            Once a job is posted our matching algorithm will contact temps that have the skills that you
                            require and give them the option to apply. Our matching process will favour temps that have
                            been shown to give employers a good experience.
                            <br><br>
                            You can then select to hire the temps you want manually or you can have us automatically
                            select the best ones for you based on their feedback scores.
                            <br><br>
                            Once the hiring process is complete, the successful temps will get access to the full job
                            details they need to arrive at your site prepared and on time.
                            <br><br>
                            Each week the temp will submit a timesheet through the Easy Tradies website, once you
                            approve their hours, your credit card will be billed for their time based on the pre-agreed
                            hourly rate, or if you have a credit account we’ll email you an invoice.
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            Are There Any Fees For Using Easy Tradies?
                        </div>
                        <div class="collapsible-body">
                            The temp’s hourly rate includes the Easy Tradies fee, which is a small percentage. It only
                            gets billed once you have approved timesheets they have submitted.
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            How Long Will It Take To Get Responses To My Job Listings.
                        </div>
                        <div class="collapsible-body">
                            The bigger centres will usually get responses from interested candidates within an hour.
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            Disputes Process
                        </div>

                        <div class="collapsible-body">
                           <span>
                               The vast majority of jobs are completed without issues.  In the rare case of a disagreement between an employer and a temp Easy Tradies suggests that you first, attempt to resolve the issue among yourselves.  This is often the least complicated and fasted method.
                           </span>
                        </div>

                    </li>
                </ul>
<p>
    &nbsp;
</p>

                <h4>
                    Temporary Staff FAQ
                </h4>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">
                            Is Easy Tradies Free To Use?
                        </div>

                        <div class="collapsible-body">
                           <span>
Yes – we do not charge our temporary staff to use the Easy Tradies platform.
                           </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            What Trade Jobs Are Available On Easy Tradies?
                        </div>
                        <div class="collapsible-body"><span>
                           The best way to find out if we supply temps for the profession you’re looking for is to <a
                                href="#">register</a> as a temp.
                       </span></div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            What If I Only Want To Work In Certain Locations?
                        </div>
                        <div class="collapsible-body">
                           <span>
                               Easy Tradies gives you the option to specify what locations you’d like to work in so you can choose to work in the areas close to where you live.  It’s important to remember the fewer locations you select, the fewer job offers you’ll get.
                           </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            About Ratings
                        </div>
                        <div class="collapsible-body">
                            <span>
                                After every job, the employer will be given the option to review your work. A better review
                            will make your profile more appealing to future employers, and helps you win more jobs. Easy
                            Tradies will also send you more jobs the better your review score is.

                                 <p>
                                <strong>
                                    Some things you can do to ensure you get good reviews from employers are:
                                </strong>
                            </p>

                            <ul>
                                <li>
                                    ● Only apply to jobs you’re confident you can complete to a high standard
                                </li>
                                <li>
                                    ● Work efficiently and keep non-work related talk to a minimum
                                </li>
                                <li> ● Arrive on time</li>
                                <li> ● Read the job description carefully, so you arrive prepared</li>
                            </ul>


                            </span>




                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            Disputes Process
                        </div>
                        <div class="collapsible-body">
                            <span>
                                The vast majority of jobs are completed without issues. In the rare case of a disagreement
                            between an employer and a temp Easy Tradies suggests that you first attempt to resolve the
                            issue among yourselves. This is often the least complicated and fasted method.
                            </span>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>